body{
	width: 78%
}
header{
	display: flex;
	justify-content: space-between;
}

h1 a{
	text-decoration: none;
	color: black;
	font-family: Helvetica,arial,sans-serif; 
	font-size: 45px;
	margin: 10px;
	padding: 20px 15px;
}

nav{
	display: flex;
	justify-content: space-between;
	text-align: center;
	/*align-items: center;*/
	/*vertical-align: baseline;*/
}

nav a {
/*	text-align: end;*/
	text-decoration: none;
	color: gray;
	font-family: Helvetica,arial,sans-serif; 
	margin: 10%;
	font-size: 20px;
}

a:hover {
	color: black;
	opacity: 0.7;
}

.about{
	display: flex;
}
img {
	text-align: center;
	padding: 5%;
	width: 30%;
	height: 60%;
	
	/*justify-content: flex-end;*/
}

#quote{
	/*margin: 10%;*/
	color: gray;
	font-family: arial, sans-serif;
	font-size: 30%;
	margin: 10%;
	text-align: bottom;
}
.column{
	display: column;
}
#box{
	height: 65%;
	margin: 10%;
}







/*
.nav {
	margin: 20px;
	padding: 20px;
	text-align: center;

	height: 10%;
	width: 50%;
 	justify-content: flex-end;
	text-decoration: none;
	color: gray;
	height: 80px;
	width: 200px;
	display: flex;
	justify-content: space-around;

	color: gray;
	font-size: 22px;
	margin-right: 16px;
	border-bottom: 2px solid #eeeeee;
	display: inline;
}*/